@media (max-width: 768px){
    h2 {
        font-family: 'Raleway', Helvetica, Arial, Lucida, sans-serif;
        font-size: 40px;
        line-height: 1.2em;
    }
    
    #privatisation {
        padding-top: 8rem;
        padding-bottom: 5rem;
        background-image: linear-gradient(5deg, #008b93 29%, rgba(255, 255, 255, 0.9) 7%);
    }
    
    #privatisation img {
        box-shadow: 5px 5px 5px rgb(110, 91, 91);
    }
    #privatisation p{
        text-align: left;
    }
    
    #evenement {
        padding-top: 5rem;
        padding-bottom: 5rem;
        color: white;
        background-color: #008b93;
        display: flex;
    }
    
    #evenement p {
        text-align: center;
    }
    
    #possibilite {
        margin-top: 5rem;
        margin-bottom: 5rem;
        text-align: center;
    }
    
    h3 {
        text-align: center;
    }
    .img__body {
        max-width: 100%;
        box-shadow: 10rem;
    
    }
}